#sectionWrapper{:class => "jsClearfix"}
  #sectionAnnotations
    #sectionAnnotationsContent
      - unless @previous_section.nil?
        #previousSectionLink
          = link_to('<< ' + @previous_section.to_s, work_section_path(@work, @previous_section))
      - unless @next_section.nil?
        #nextSectionLink
          = link_to(@next_section.to_s + ' >>', work_section_path(@work, @next_section))
  #sectionContent
    #sectionHeader
      %h1{:class => "pageName"} #{link_to(@work, work_path(@work))} #{get_byline(@work)} - #{@section}
    #sectionText
      - @section.lines.each do |line|
        - if @section.form == "verse"
          -# TODO: convert to constant
          %div{:class => "verseLine"}
            #{line}
        - else #prose
          %div{:class => "proseLine"}
            #{line}
