#sectionWrapper{:class => "jsClearfix"}
  #sectionAnnotations.pane
    = render :partial => "sections/section_nav_links"
    #sectionAnnotationsContent
      -#TODO - actually get comments here
        = render :partial => "annotations/annotation", :locals => {:title => "Title", :text => "Text"}
        = render :partial => "annotations/annotation", :locals => {:title => "Another title", :text => "More text"}
    .bottom
      = render "sections/section_nav_links"
  #sectionContent
    .pageHeading
      %h1{:class => "pageName"} #{link_to(@work, work_path(@work))} #{get_byline(@work)} - #{@section}
    #sectionText
      - @section.lines.each do |line|
        - if @section.form == "verse"
          -# TODO: convert to constant
          %div{:class => "verseLine"}
            #{line}
        - else #prose
          %div{:class => "proseLine"}
            #{line}
